h1 {
	font-family: 'Cedarville Cursive', cursive;
}

h6, textarea {
	font-family: 'Cedarville Cursive', cursive;

/*font-family: 'Josefin Sans', sans-serif;*/
}
.postscripta-header {
  display: inline;
}
#logo {
  display: inline;
}

.quill {
	max-width: 100px;
}

.navbar-brand {
	font-family: 'Cedarville Cursive', cursive;
}

.navbar {
    background-color: white;
}

textarea {
  margin: 20px
}
