h1 {
	font-family: 'Cedarville Cursive', cursive;
}

h3, textarea {
/*	font-family: 'Bad Script', cursive;
*/	font-family: 'Josefin Sans', sans-serif;
}

#logo {
  display: inline;
}

.quill {
	max-width: 300px;
}

.navbar-brand {
	font-family: 'Cedarville Cursive', cursive;
}

.navbar {
    background-color: white;
}

textarea {
  margin: 20px
}
