{% extends 'base.html' %}

{% block title %}postscripta{% endblock %}

{% block content %}
<!-- <img class="quill postscripta-header" src="/static/img/quill.png"> -->
<h4>creative assistive technology for personalized text</h4>

<label>Name:</label>
<input type="text" ng-model="yourName" placeholder="Enter your name here"></input>

<h1>Hello, {{ '{{yourName}}' }}</h1>


<script>

var alphabet = {};

alphabet.a = "Aa";


var bImg = new Image();
bImg.src = "/static/img/bImg.png";

alphabet.b = bImg;
console.log(alphabet);

</script>


{% endblock %}
